.container{
    display: flex;
    gap: 50px;
}
.container .img{
    margin: 50px 270px;
}
.img img{
    margin-bottom: 10px;
}
.img span{
    margin-left: 48px;
}
.content input{
    border: 1px solid;
}
.content input::after{
    content: url("../../../../Images/ic_baseline-edit.svg");
    position: absolute;
    width: 30px;
    height: 30px;
}