.conatiner{
    position: relative;
    display: flex;
}
@media (max-width:767px) {
    .conatiner{
        display: none;
    }
}

.conatiner input{
    width: 300px;
    height: 48px;
    border-radius: 20px;
    text-align: center;
}
.search{
    position: absolute;
    left: 16px;
    top: 12px;
}
.log{
    position: absolute;
    right: 19px;
    top: 11px;
}