.container{
    height: 1329px;
}
.container h1{
font-family: Robto;
font-size: 40px;
font-weight: 500;
line-height: 62px;
letter-spacing: 0.015em;
text-align: center;
color: var(--secondry-color);
margin-top: 20px;
}
.content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}