@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #74BCEE;
  --secondry-color:#59C12E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:"Roboto";
}

html,
body {
  overflow-x: hidden;
}
.logo{
  display: flex;
  flex-direction: column;
}
.container{
 padding: 0px;
 margin: 0px;
}
main .Auth{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.co{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}