.text{
 font-family: Roboto;
font-size: 40px;
font-weight: 500;
line-height: 62px;
letter-spacing: 0.015em;
text-align: center;
color: var(--secondry-color);
margin-top: 50px;
}
.content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.container{
    height: 1330px;
}
