.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.right{
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box{
    Width:auto;
    Height:529px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 10px;
}
.box button{
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0.02em;  
}
.btng,
.btnr,
.btnb{
    margin: 70px;
    width: 400px;
    height: 60px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px #00000040;
}
@media (max-width:767px) {
.btng,
.btnr,
.btnb{
    width: 250px;
}
}
.btng{
    background-color:#59C12E;
}
.btnb{
    background-color: var(--primary-color);
}
.btnr{
    background-color: #EA1E1E;
    ;
}